@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Fira Sans', serif;
  max-width: 1600px;
  margin: 0 auto;

  background-color: #f5f5f5;
}

/* nav-bar section start here */

.nav-bar {
  width: auto;
  margin: 0 auto;
  width: 1280px;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 24px;
  font-family: 'Playwrite AU SA', serif;
}

.signIn {
  font-family: 'Playwrite AU SA';
  width: 116px;
  height: 52px;
  padding: 15px 15px;
  color: #006a50;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid#006A50;
}

.main-title {
  font-size: 20px;
  font-family: 'Fira Sans', serif;
}

/* banner section start here */
.hero {
  padding: 50px;
  border-radius: 24px;
  width: 1280px;
  margin-left: 160px;
  margin-right: 160px;
  width: auto;
  margin-top: 50px;
  background-color: #c6e4d6;
}
.banner-container {
  display: flex;
  background-repeat: no-repeat;
  justify-content: space-around;
}

.text-container {
  display: flex;
  align-items: center;
}

.title-container p {
  font-size: 24px;
  color: #0e0e0e;
  opacity: 0.5;
  margin-bottom: 10px;
}

.title-container h1 {
  width: 622px;
  font-size: 56px;
  letter-spacing: 2px;
}

.title-container button {
  margin-top: 24px;
  width: 270px;
  padding: 20px 16px;
  background-color: #006a50;
  color: white;
  border-radius: 8px;
  font-size: 18px;
  border: none;
}

.img-container img {
  width: 474px;
  margin-bottom: 50px;
}

/* pillar section start here  */

#pillar-section {
  width: 1280px;
  height: auto;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

.pillar-content {
  display: flex;
  justify-content: space-around;
}

#piller-section,
.pillar-title {
  font-size: 40px;
  text-align: left;
}

.card-design {
  margin-top: 60px;
  width: 302px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
}

.card-design,
.card-content {
  padding: 24px;
}

.card-design h3 {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  text-align: left;
  margin-bottom: 12px;
}

.card-design p {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  margin-bottom: 24px;
}

/* vision section start here  */

#vision-section {
  margin-left: 160px;
  margin-right: 160px;
  margin-top: 80px;
  margin-bottom: 80px;
}

#vision-section h1 {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  line-height: 48px;
  text-align: left;
}

#vision-section p {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  margin-top: 24px;
}

/* vision card one style start here */

.card-color-one {
  background: rgba(84, 144, 245, 0.2);
  border-radius: 16px;
}

.card-color-tow {
  border-radius: 16px;
  background: rgb(198, 228, 214);
}

.card-color-three {
  border-radius: 16px;
  background: rgb(247, 235, 207);
}

.vision-card-container {
  display: flex;
  justify-content: space-between;
}

.vision-card {
  margin-top: 32px;
  width: 410.67px;
  height: 325px;
}

.vision-card-content {
  padding: 32px;
}

.vision-card-content h3 {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  line-height: 24px;
  gap: 12;
  margin-top: 25px;
}

.vision-card-content p {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  gap: 12;
}

#learn-button-one {
  border-radius: 8px;
  background: rgb(84, 144, 245);
  width: 122px;
  gap: 48;
  padding: 11px 20px 11px 20px;
  color: white;
  border: none;
  margin-top: 24px;
}

#learn-button-tow {
  border-radius: 8px;
  background: rgb(9, 161, 92);
  width: 122px;
  gap: 48;
  padding: 11px 20px 11px 20px;
  color: white;
  border: none;
  margin-top: 24px;
}
#learn-button-three {
  border-radius: 8px;
  background: rgb(255, 194, 57);
  width: 122px;
  gap: 48;
  padding: 11px 20px 11px 20px;
  color: white;
  border: none;
  margin-top: 24px;
}

#yunus-quotes {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  margin-top: 60px;
}

.quotes-container {
  padding: 40px;
  background-image: url('../assets/quote-bg.png');
  background-repeat: no-repeat;
  margin-left: 20px;
}

.quotes-container h3 {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
  letter-spacing: 0%;
  text-align: left;
}

.quotes-container p {
  color: red;
}

/* Opinion Section start here */

#opinion-section {
  margin-left: 160px;
  margin-right: 160px;
  width: 1280px;
  margin-top: 80px;
}

#opinion h1 {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  line-height: 48px;
}

.main-box {
  margin-top: 24px;
  /* display: flex; */
  /* flex-direction: column; */
  border: 1px solid;
  border-radius: 16px;
  background: rgb(255, 255, 255);
  padding: 32px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}

.header-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border: none;
  background: rgb(198, 228, 214);
  padding: 24px;
}

.item-container {
}

.opinion-text-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 24px;
}

.opinion-text-container h3 {
  font-size: 16px;
}
.opinion-text-container button {
  border: 1px solid rgb(14, 14, 14);
  border-radius: 4px;
  background: rgb(198, 228, 214);
  padding: 10px 14px 10px 14px;
}

/* News Section Start here */

#news-section {
  margin-left: 160px;
  margin-right: 160px;
  width: 1280px;
  margin-top: 80px;
  margin-bottom: 80px;
}
#news-section h1 {
  font-size: 40px;
  line-height: 48px;
  gap: 24;
  color: rgb(14, 14, 14);
  height: 48px;
}

#news-section p {
  font-size: 16px;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
  gap: 12;
  margin-top: 24px;
}

.news-item {
  display: flex;
  flex-direction: row;
  border-radius: 24px;
  background: rgb(255, 255, 255);
  margin: 24px 0px;
  padding: 48px;
  border-radius: 32px;
}

.news-img {
  border-radius: 24px;
}

.news-title {
  margin-left: 32px;
}

.read-btn {
  width: 139px;
  height: 48px;
  border-radius: 8px;
  background: rgb(0, 106, 80);
  margin: 32px 0px;
  color: white;
  padding: 10px 10px;
  border: none;
  font-size: 18px;
}
